.reactmd {
  font-family: "Avenir Next" !important;

  h1,h2,h3,h4,h5,h6 {
    font-family: "Avenir Next" !important;
    font-weight: 600;
  }

  h1 {
    font-weight: 500;
  }

  img {
    max-width: 400px;
  }

  a {
    color: var(--color2);
  }
}