.md {
  padding-top: 32px;
}

// move to notesapp
.list-content {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.loader {
  height: 100vh;
  width: 100vw;
}

.rc-menu {
  padding: 8px 16px;
  background: white;
  border-radius: 4px;

  &__btn {
    cursor: pointer;
    position: relative;
    z-index: 200;
  }
}