.textarea {
  min-width: 100%;
  max-width: 100%;
  border-width: 0 0 3px;
  padding-bottom: 16px;
  min-height: 128px;
  display: block;

  &:focus {
    outline: 0;
  }
}

.md {
  padding-top: 32px;
}

// move to notesapp
.list-content {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}