:root {
  --primary-color: deeppink;
  --red: #ff0035;
  --indianred: indianred;
  --richBlack: #010b13;
  --cafe: #a77e58;
  --gainsboro: rgba(219, 217, 219, 0.2);

  --color1: #20232e;
  --color2: #f6cc76;
  --color3: #a1aab7;
  --color4: #363b4c;
}